:root {
    --pink-lightest: #fff0f3;
    --pink-light: #ffe0e6;
    --pink-medium: #ffb3c0;
    --pink-dark: #ff8da1;
    --text-dark: #2d3436;
    --text-gray: #636e72;

    --colorblack: #191616;
    --colorrose: #e13690;
    --colormaingris: #f2f2f2;
    --color: var(--colormaingris);
    --rose-text: rgba(167, 71, 119, 0.67);
    --color-white2: #f4e2e2;
    --color-text2: #666;
    --roseopasity: rgba(246, 9, 127, 0.23);
    --paragraph-faq: #333;
    --bg-rose: rgba(252, 121, 180, 0.23);
    --rose2: #e75d88;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Work Sans", sans-serif;
    --font4: "Roboto", sans-serif;
}

body {
    font-family: var(--font4);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #666;
}

/* Mobile Styles 
h1 {
    font-family: var(--font4);
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: var(--colorrose);
}

h2 {
    font-family: var(--font4);
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

h3 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}
*/
.number {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

p {
    font-family: var(--font4);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -.02em;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}


@media (min-width: 768px) {

    /*
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 18px;
    }
*/
    .number {
        font-size: 60px;
    }

    .section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1280px) {

    /*
    h1 {
        font-size: 66px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 20px;
    }
*/
    .number {
        font-size: 70px;
    }

    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}