.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* tablet */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* desktop */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}