.header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.container-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Header list Mobile first  Test branch*/


.menu-header {
    display: none;
}

.open-menu-button {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.open-menu-button span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
}

.menu-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.menu-header-open {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}


.menu-header-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.close-button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.header-menu {
    display: none;
}



@media screen and (min-width: 1128px) {

    .menu-container {
        display: flex;
        gap: 40px;
    }

    .header-menu {
        display: block;
    }

    .menu-container li {
        position: relative;

    }

    .menu-link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: var(--colorblack);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            border-bottom: 1px solid var(--colorrose);
            color: var(--colorrose);
        }
    }

    /*example dropdown*/

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        min-width: 110px;
    }

    .dropdown-content li {
        padding: 0;
    }

    .dropdown-content .drop-link {
        color: #333;
        padding: 8px;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &:hover {
            background-color: #f1f1f1;
            color: var(--colorrose);
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .open-menu-button {
        display: none;
    }

    .menu-header-link {
        display: block;
        color: #333;
        text-decoration: none;
        padding: 10px 0;
        font-size: 18px;
    }
}