.header {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.container-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-header {
    display: none;
}

.open-menu-button {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.open-menu-button span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
}

.menu-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.menu-header-open {
    background-color: white;
    padding: 12px 24px;
    position: absolute;
    right: 0;
    border-radius: 8px;
    max-width: 300px;
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}


.menu-header-list {
    padding: 0;
    margin: 30% 0 0;
}

.menu-header-list li {
    margin-bottom: 25px;
}

.menu-header-list .menu-link {
    font-family: var(--font-family);
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.menu-header-list .menu-link:hover {
    color: var(--colorrose);
    border-bottom: 2px solid var(--colorrose);
    /* Подчёркивание при наведении */
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #1f1c1c;
    border: none;
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s, color 0.3s;
}

.close-button:hover {
    transform: rotate(90deg);
    /* Эффект вращения при наведении */
    color: var(--colorrose);
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        /* Начальная позиция чуть выше */
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* Конечная позиция */
        opacity: 1;
    }
}

.header-menu {
    display: none;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.social-link {
    display: inline-block;
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-link:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


@media only screen and (min-width: 1280px) {

    .menu-container {
        display: flex;
        gap: 40px;
    }

    .header-menu {
        display: block;
    }

    .menu-container li {
        position: relative;

    }

    .menu-link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: var(--colorblack);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            border-bottom: 1px solid var(--colorrose);
            color: var(--colorrose);
        }
    }

    /*example dropdown*/

    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 5;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        min-width: 110px;
    }

    .dropdown-content li {
        padding: 0;
    }

    .dropdown-content .drop-link {
        color: #333;
        padding: 8px;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &:hover {
            background-color: #f1f1f1;
            color: var(--colorrose);
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .open-menu-button {
        display: none;
    }

    .menu-header-link {
        display: block;
        color: #333;
        text-decoration: none;
        padding: 10px 0;
        font-size: 18px;
    }
}