.hero {
    background-color: var(--colorblack);
    display: grid;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 25px;
}


.hero-title {
    font-family: var(--font4);
    font-weight: 600;
    letter-spacing: 0.01em;
    color: var(--colorrose);
}

.hero-subtitle {
    font-family: var(--font4);
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 20px;
}

.hero-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 1.5rem;
}



.hero-content {
    padding: 20px;
}

.hero-image {
    display: none;
}


.hero-button {
    border-radius: 50px;
    /* Закругляем углы */
    color: white;
    background: radial-gradient(circle, #e13690 0.52%, #f97e83 100%);
    padding: 0.75rem 2rem;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 20px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25),
        inset 2px 2px 4px rgba(255, 255, 255, 0.6);
}

.hero-button:hover {
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    color: #131314;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.35),
        inset 3px 3px 6px rgba(255, 255, 255, 0.7);
}

/*************************************/
.compétences {
    background: linear-gradient(90deg, #e13690 0.52%, #f97e83 100%);
    color: #fff;
    padding: 20px 0;

}

.compétencesTitle {
    font-family: var(--font4);
    font-weight: 500;
    font-size: 48px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

.compétences-subtitle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.compétence-texte {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}



.compétencesItem {
    padding: 20px;

}

.compétence-miniList {
    display: flex;
    align-items: baseline;
    gap: 18px;
    margin-bottom: 10px;
}

/**********objective-section*********/

.objective-section {
    background: var(--colorblack);
    color: #fff;
    width: 100%;
}

.content {
    padding: 60px 0;
    text-align: center;
}

.container-card {
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    position: relative;
    flex: 1 1 calc(33.333% - 40px);
    max-width: 294px;
    min-height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: end;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.card::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 1px;
    background-color: #000;
}

.card::after {
    content: '→';
    color: #000;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 1.5em;
}

.text-card {
    color: #1f1c1c;
    /*
    text-align: start;
    margin-bottom: 20px;
    font-size: 1rem;*/
    text-align: left;
    color: #1f1c1c;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 40px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000;
}

.first-card {
    background-image: url("../img/ww.jpg");
    background-position: center;
    background-size: cover;
    transition: transform 0.3 ease-in-out;
}

.second-card {
    background-image: url("../img/qq.jpg");
    background-position: center;
    background-size: cover;
    transition: transform 0.3 ease-in-out;
}

.third-card {
    background-image: url("../img/sdsd.jpg");
    background-position: center;
    background-size: cover;
    transition: transform 0.3 ease-in-out;
}




.first-card:hover {
    transform: scale(1.1);
}

.second-card:hover {
    transform: scale(1.1);

}

.third-card:hover {
    transform: scale(1.1);

}

.objectif-textMargin {
    margin-bottom: 35px;
}

/******************************************/

@media (min-width: 768px) {

    .hero-wrapper {
        grid-template-columns: 1fr 53%;
        align-items: center;
    }

    .hero-content {
        padding: 0;
        margin-right: 10px;
    }

    .hero-title {
        margin-bottom: 35px;
    }

    .hero-text {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 35px;
    }

    .hero-image {
        display: flex;
        min-width: 360px;
        justify-content: center;
        align-items: center;
        background-color: #ff69b4;
        border-radius: 50%;
    }

    /********************************/

    .compétence {
        padding: 40px 0;
    }

    .compétencesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .compétence-miniList {
        margin-bottom: 20px;
    }

    /**********objective-section*********/

    .objectif-textMargin {
        margin-bottom: 50px;
    }

    /*********************************************/

}

@media only screen and (min-width: 1280px) {
    .hero-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
    }


    .hero-content {
        width: 530px;
    }


    .hero-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
    }

    .hero-btn {
        margin-bottom: 0;
    }

    .hero-image {
        max-width: 560px;
    }

    .hero-image img {
        width: min(100%, 530px);
    }

    .objectif-textMargin {
        margin-bottom: 50px;
    }

    .compétences {
        padding: 80px 0;
    }

    .compétencesList {
        grid-template-columns: repeat(3, 1fr);
    }

    .compétences-title {
        margin-bottom: 40px;
    }

    .compétences-subtitle {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}