.hero {
    background-color: #000;
    display: grid;
}

.hero-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 25px;
}


.hero-title {
    margin-bottom: 1rem;
}

.hero-text {
    font-family: var(--font4);
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #fff;
    margin-bottom: 1.5rem;
}

.hero-button {
    border-radius: 50px;
    color: white;
    background: linear-gradient(90deg, #e13690 0.52%, #f97e83 100%);
    padding: 0.75rem 2rem;
    border: none;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
}

.hero-button:hover {
    background: linear-gradient(90deg, #f97e83 0.52%, #e13690 100%);
}

.hero-content {
    padding: 20px;
}

.hero-image {
    display: none;
}

@media (min-width: 768px) {

    .hero-wrapper {
        grid-template-columns: 1fr 53%;
        align-items: center;
    }

    .hero-content {
        padding: 0;
        margin-right: 10px;
    }

    .hero-title {
        margin-bottom: 35px;
    }

    .hero-text {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 35px;
    }

    .hero-image {
        display: flex;
        min-width: 360px;
        justify-content: center;
        align-items: center;
        background-color: #ff69b4;
        border-radius: 50%;
    }

}

@media only screen and (min-width: 1280px) {
    .hero-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
    }


    .hero-content {
        width: 530px;
    }


    .hero-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.2;
    }

    .hero-btn {
        margin-bottom: 0;
    }

    .hero-image {
        max-width: 560px;
    }

    .hero-image img {
        width: min(100%, 530px);
    }
}

.objective-section {
    background: var(--colorblack);
    color: #fff;
    width: 100%;
}

.card {
    width: 80%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    margin: 10px;
    min-height: 400px;
    /* Increase this value to make the cards taller */
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body p {
    margin: 0;
}

.card a {
    text-decoration: none;
    color: #000;
}

.first-card {
    background-image: url("../img/ww.jpg");
    object-fit: cover;
    /* background: linear-gradient(to right, #ff7eb9, #a2efff); */
    transition: transform 0.3s ease-in-out;
}

.second-card {
    background-image: url("../img/qq.jpg");
    object-fit: cover;
    /* background: linear-gradient(to right, #77acf1, #ffc48c); Blue to Light Orange */
    transition: transform 0.3s ease-in-out;

}

.third-card {
    background-image: url("../img/sdsd.jpg");
    object-fit: cover;
    height: 100%;
    /* background: linear-gradient(to right, #ffec65, #d1c4e9); Yellow to Light Purple */
    transition: transform 0.3s ease-in-out;

}

.first-card:hover {
    transform: scale(1.1);
}

.second-card:hover {
    transform: scale(1.1);

}

.third-card:hover {
    transform: scale(1.1);

}