.content{
    padding: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}
.card hr { 
    border: none; 
    border-top: 1px solid #1c1c1c; 
    margin: 0 0 20px 0; 
}

.card::after {
    content: '→';
    color: #000;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em;
}




@media (max-width: 600px) {
    .card {
        width: 100%; /*  smaller screens */
    }
    
    .container {
        gap: 10px; /* the  space between items */
    }
}
