body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.vocabulaire-title {
    font-family: var(--font4);
    font-weight: 600;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 20px;
    color: #f8f4f4;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #1a1a1a;
}

.vocabulaire-description {
    width: 60%;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #2e2d2d;
}

.main-vocabulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vocabulaire-header {
    position: relative;
    padding: 50px 0;
    width: 100%;
    margin-bottom: 20px;
    color: #fff;
    z-index: 1;
    overflow: hidden;
}

.vocabulaire-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: pink;
    filter: blur(1px);
    z-index: -1;
}

.search-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.search-input {
    padding: 10px 30px;
    min-width: 300px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    transition: border 0.3s ease;
}

.search-input:focus,
.search-input:hover {
    border-color: #f2f3f7;
    outline: none;
}

.search-icon {
    margin-left: -50px;
}

.content-container {
    width: 100%;
}

.flex-containerVocabulaire {
    display: flex;
    flex-direction: column;
}

.filters-title {
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(90deg, #e13690 0.52%, #f97e83 100%);
    ;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-bottom: 20px;
}

.filters {
    flex: 0 0 25%;
    min-width: 25%;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-btn {
    padding: 12px;
    background-color: transparent;
    color: #312e2e;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    position: relative;
    padding-left: 35px;
    display: block;
    transition: border 0.3s ease-in-out, background-color 0.3s ease, color 0.3s ease-in-out;

}

.filter-btn::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border-radius: 100%;
    background: #49096b;
    position: absolute;
    top: calc(50% - 6px);
    left: 10px;
}


.filter-btn:hover {
    background: linear-gradient(90deg, #e13690 0.52%, #f97e83 100%);
    border-radius: 15px;
    color: #f2f3f7;
}


.content-vocabulaire {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    min-width: 0;
    flex: 0 0 75%;
    max-width: 75%;
}

#contentCards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardVocab {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 12px;
    /* Закругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Тень */
    background: linear-gradient(145deg, #ffffff, #f7f7f7);
    max-width: 400px;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cardVocab:hover {
    transform: translateY(-10px);
    /* Эффект подъема при наведении */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-bottom: 12px;
    color: #f2439f;
    font-weight: 700;
    text-align: center;
    /* Центрирование заголовка */
}

.card-description {
    font-size: 16px;
    margin-bottom: 16px;
    font-family: 'Georgia', serif;
    font-weight: 600;
    color: #9f6c14;
    text-align: center;
}

/*
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #4a90e2;
}

li {
    font-size: 16px;
    margin-bottom: 8px;
    padding: 4px 0;
    border-bottom: 1px dashed #ccc;
    color: #555;
}

li:last-child {
    border-bottom: none;
}*/

li span {
    font-weight: 700;
    color: #f2439f;
}

.cardVocab ul li:hover {
    color: #333;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#resultsCount {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}

@media(min-width:768px) {
    .flex-containerVocabulaire {
        display: flex;
        flex-direction: row;
    }
}

@media(min-width:1280px) {
    .filters-title {
        font-size: 36px;
    }

    .filter-btn {
        padding: 12px 24px;
        font-size: 16px;
        font-weight: bold;
        padding-left: 35px;
    }
}